@use "colors" as *;
@mixin text-overflows {
    overflow-wrap: anywhere;
    word-spacing: normal;
}

@mixin font-settings() {
    font-family: "IBM Plex Mono";
    font-weight: normal;
    font-size: 1em;
    color: $term-white;
}

@mixin circle-buttons-color-and-hover($color) {
    background-color: $color;
        &:hover {
            background-color: darken($color, $amount: 5%);
        }
}