@use "colors" as *;
@use "mixins" as *;

@use "./components/ui/user-inputs.scss" as *;
@use "./components/ui/notepad.scss" as *;

$main-font: "IBM Plex Mono";
$inline-padding: 5px;
$border-radius: 5px;


* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: $term-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.window {
    @include font-settings();
    background-color: $term-grey-mid;
    height: 680px;
    width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 2px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: $border-radius;
    border-style: solid;
    border-color: $term-grey-mid;
    border-width: 4px;

}

.navbar {
    @include font-settings();
    width: 100%;
    height: 32px;
    // padding-inline: $inline-padding;

    display: flex;
    flex-direction: row;
    justify-content: space-between;


    text-align: center;
    font-size: 1em;

    .window-title {
        height: 100%;
        width: 220px;
        border-radius: 5px;
        background-color: $term-black;

        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: $inline-padding;
        transition: all 150ms ease-in-out;
        justify-content: space-between;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        &:hover {
            cursor: pointer;
        }

        p.title {
            &:hover {
                text-decoration: underline;
            }
        }

        .close {
            height: 30px;
            width: 30px;
            color: inherit;
            background-color: transparent;
            padding: $inline-padding;
            font-size: 1.2em;

            // text-align: center;

        }
    }

    .window-controls {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: fit-content;
        align-items: center;
        padding: $inline-padding;
        
        
        .minimize,
        .windowed,
        .close {
            margin-inline: $inline-padding;
            
            height: 22px;
            width: 22px;
            border-radius: 100%;

            @include font-settings();
            font-size: 1.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            
            transition: all 100ms ease-in-out;

            border-style: solid;
            border-color: #1c1c1c80; //80% opacity $term-black

            border-width: 2px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            &:hover{
                cursor: pointer;
            }

        }
        
        .minimize{
            @include circle-buttons-color-and-hover($term-green-dark)
        }
        .windowed{
            @include circle-buttons-color-and-hover($term-yellow-ochre)
        }
        .close{
            @include circle-buttons-color-and-hover($term-red)
        }
        
    }
}

.terminal-content {
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: $inline-padding;
    height: 100%;

    background-color: $term-black;
    border-radius: $border-radius;

    border-top-left-radius: -10;
}

.terminal-lines {
    list-style: none;
    padding-left: 0;
}


.line {
    color: $term-white;
    display: flex;
    width: 100%;

    white-space: pre-wrap;
    .line-content {
        
        @include text-overflows();
        width: 100%;
    }

    &.multiline {
        display: flex;
        flex-direction: column;
    }
}

.output {
    color: $term-yellow-light;
    padding-inline-start: $inline-padding;
}

.primary-prompt {
    padding-inline-start: $inline-padding;
    display: flex;
    flex-direction: row;

    .username {
        color: $term-green-pale;
        width: max-content;

        &::after {
            content: "\00a0";
        }
    }

    .current-directory {
        color: $term-orange-warm;
        width: max-content;
        &::after {
            content: "$";
            padding-inline: $inline-padding;
            color: $term-blue-light;
        }
    }
}



.terminal-output {
    padding-left: $inline-padding ;
}

.terminal-input {
    display: flex;
}

.input-feild {
    @include font-settings();
    @include text-overflows();

    background-color: $term-black;
    width: 100%;

    &:focus {
        outline: none;
    }
}